<div class="center container-cancellation page-top-image" id="action-image">
  <h1>チーム紹介</h1>
</div>
  
<div class="under-bg container-cancellation">
    <div class="container">
        <div class="sub-container action-container" >
            <h2 class="sub-title">横浜国立大学ソフトテニス部とは</h2>
            <p class="action-text">横浜国立大学ソフトテニス部とは、横浜国立大学体育会に所属する公式の部活動です。<br>
                年に２回(春・秋)関東大学リーグという大きな大会があり、そこでの勝利と昇格を目指し日々練習に励んでいます。<br>
                団結力が強みのチームであり、部員同士大変仲が良いです。<br>
                大学生はサークルやアルバイト等様々な選択肢があるため、その中で部活動を選択することはそう簡単なことではないでしょう。
                しかし、チーム一丸となり全力で取り組むことは大変価値のあることです。<br>
                ぜひ、私たちとともに熱い大学生活を送りましょう！
            </p>
            <h2 class="sub-title">活動内容</h2>
            <ul class="action-lists">
                <li class="action-list">
                    <h3>活動場所</h3>
                    <p>横浜国立大学テニスコート</p>
                </li>
                <li class="action-list">
                    <h3>活動日時</h3>
                    <p>月水金    16:30 ~ 18:30</p>
                    <p>土         9:30 ~ 12:30</p>
                </li>
                <li class="action-list">
                    <h3>オフ</h3>
                    <p>夏・冬期に約2週間の長期休暇を設けております。</p>
                    <p>期末テスト期間もオフがあり、その他中間試験等の個人のカリキュラムで休暇を作ることも可能です。</p>
                </li>
                <li class="action-list">
                    <h3>必要経費</h3>
                    <p>大会の遠征費（年間3万円程度）、合宿（年間3万円程度）、部費（年間1万円程度）</p>
                    <p>※コロナ禍により、大会の中止等で変動あり。</p>
                </li>
                <li class="action-list">
                    <h3>年間スケジュール</h3>
                    <p>５月：関東学生春季リーグ戦</p>
                    <p>８月：関東甲信越体育大会</p>
                    <p>９月：合宿</p>
                    <p>１０月：関東学生春季リーグ戦</p>
                    <p>※その他神奈川の大会や部内でのイベントあり。</p>
                </li>
            </ul>
        </div>
    </div>
</div>