<div class="center container-cancellation page-top-image" id="contact-image">
  <h1>お問い合わせ・アクセス</h1>
</div>

<div class="under-bg container-cancellation">
    <div class="container">
        <div class="sub-container contact-container" >
            <h2 class="sub-title">アクセス</h2>
            <div class="map-box">
                <iframe class="google-map" 
                src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d9932.856071722315!2d139.59144309252946!3d35.473724739398456!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x60185b6e092200e7%3A0x582a9d58e6768982!2z5qiq5rWc5Zu956uL5aSn5a2mIOW6reeQg-WgtA!5e0!3m2!1sja!2sjp!4v1632484274506!5m2!1sja!2sjp" 
                style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
            <div class="map-text">
                <h3>電車</h3>
                <p>三ツ沢上町駅・和田町駅　徒歩１５分(※羽沢横浜国大駅からは徒歩２５分以上)</p>
                <h3>バス</h3>
                <p>横浜駅西口から相鉄バス浜５・浜１０・市バス２０１・２０２・神奈中０１系統、岡沢町下車徒歩５分</p>
            </div>
            <h2 class="sub-title">お問い合わせ</h2>
            <p class="contact-text">
                練習・見学・練習試合のご相談はお気軽に！！
            </p>
            <p class="contact-text">
                <span>TwetterのDMにどうぞ！</span>
                <!-- DMリンク上手く機能しないため、コメントアウト-->
                <!--<a href="https://twitter.com/messages/compose?recipient_id=2823731714&ref_src=twsrc%5Etfw" 
                class="twitter-dm-button" data-screen-name="@ynusofttennis" 
                data-size="large" data-show-count="false">Message @@ynusofttennis</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>-->
                <a href="https://twitter.com/ynusofttennis?ref_src=twsrc%5Etfw" 
                class="twitter-follow-button" data-size="large" data-show-count="false">Follow @ynusofttennis</a>
                <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script><br>
            </p>
            <p class="contact-text">
                <span>インスタもやっています！</span>
                <a href="https://www.instagram.com/ynusofttennis/" class="insta_btn">
                  <span class="insta">
                    <i class="fab fa-instagram"></i>
                  </span> 
                </a>
            </p>
            
        </div>
    </div>
</div>


