<div class=" top-btn-box container-cancellation">
  <a class="top-link" href="#" data-turbolinks="false">
    <div id="page_top" class="top-btn">
      <p><i class="fas fa-chevron-up"></i></p>
      <p>PAGE TOP</p>
    </div>
  </a>
</div>