<div class="center container-cancellation page-top-image" id="result-image">
  <h1>大会結果</h1>
</div>


<ul class="users">
  <% @results.each do |result| %>
    <li>
      <% if result.document.attached? %>
        <%= link_to result.name, rails_blob_path(result.document) %>
      <% else %>
        <%= result.name %>
      <% end %>
    </li>
  <% end %>
</ul>