@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

$theme-color: #65CC33;

$theme-color-hover: #14A408;

$footer-color: rgb(59, 69, 82);

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* universal */

body{
  height: 100%;
  background-color: #F3F3F3;
  overflow-x: hidden;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
  font-weight: bold;
  text-shadow:
    1px 0 0 black,
    0 1px 0 black,
    -1px 0 0 black,
    0 -1px 0 black
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: black;
}
h3 {
  font-size: 1.5em;
  margin-top: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.sub-title{
  font-size: 2.5em;
  border-bottom: 2px solid #65CC33;
  padding: 30px 0 ;
}

.sub-container{
  margin: 0 15% 0 15%;
  background-color: #FFFFFF;
  border-rudius: 15px;
  padding: 0 20px;
}


/* --------------------------------
 * header
 * -------------------------------- */


.navbar{
  width: 100%;
  background:rgba(0,0,0,0);
  position: absolute;
  
}

#list-item{
  color:black;
  &:hover{
  }
}

#dropdown-item{
  color:black;
  margin-right: 45px;
  opacity: 0.8;
  &:hover, &:focus{
    opacity: 1;
  }
}

#logo {
  width: 250px;
  height: auto;
  position: absolute;
  left: 30px;
  z-index: 5;
}
@media screen and (max-width: 360px) {
  #logo {
    width: 150px;
    left: 10px;
    top: 20px;
  }
}

.columns-form-box{
  font-family: 'ＭＳ ゴシック', 'Osaka-等幅';
  resize: none;
  overflow: hidden;
  white-space: break-spaces;
  line-break: anywhere;
}


.navbar{
  margin-bottom: 0px;
  padding: 20px 0 20px 0;
}

/* --------------------------------
 * home
 * -------------------------------- */


#home-image::before {
  background-image: image-url('home_image_6.JPG');
  background-size: cover;/* cover指定 */
  background-position: center;
  content: "";/* 画像を表示させる為に必要*/
  display: block;/*ブロックボックスで表示*/
  position: fixed;/* 擬似要素全体を固定 */
  width: 100%;/* 横幅を画面全体 */
  height: 100vh;/* 縦幅を画面全体 */
  top: 0;/* 上からの配置を0 */
  left: 0;/* 左からの配置を0 */
  z-index: -1;/*背景画像になるように重ね順を-1*/
}

#home-image{
  height: 100vh;
  box-shadow: 0 80px 80px -70px #ffffff inset;
}
.under-bg{
  background-color: #F3F3F3;
  padding-bottom: 30px;
}

.container-cancellation {
  margin-left : 0;
  margin-right: 0;
}

.home-sns-box{
  padding: 80px 10%;
}

.instagram-window, .twitter-window{
  text-align: center;
}
.sns-logo{
  width: 324px;
  height: 80px;
  font-size: 1.8em;
  background-color: $theme-color;
  display: inline-block;
  color: white;
  p{
    line-height: 80px;
  }
}

.sns-box{
  width: 320px;
  margin: 0 auto;
  display: inline-block;
}

@media (max-width: 992px){
  .home-sns-box{
    padding: 80px 0;
  }
}

@media (max-width: 768px ){
  .twitter-window{
    padding-bottom: 30px;
  }
  .page-top-image{
    background-size: auto 100%;
  }
}


@media screen and (min-width: 576px) {
  .container-cancellation {
    margin-left : calc(-0.5 * (100vw - 540px));
    margin-right: calc(-0.5 * (100vw - 540px));
  }
}

@media screen and (min-width: 768px) {
  .container-cancellation {
    margin-left : calc(-0.5 * (100vw - 720px));
    margin-right: calc(-0.5 * (100vw - 720px));
  }
}

@media screen and (min-width: 992px) {
  .container-cancellation {
    margin-left : calc(-0.5 * (100vw - 960px));
    margin-right: calc(-0.5 * (100vw - 960px));
  }
}

@media screen and (min-width: 1200px) {
  .container-cancellation {
    margin-left : calc(-0.5 * (100vw - 1140px));
    margin-right: calc(-0.5 * (100vw - 1140px));
  }
}

.title-bars{
  color: $theme-color;
  border: none;
  z-index: 10;
  position: fixed;
  .fa-bars{
    font-size: 50px;
  }
  .fa-times{
    font-size: 50px;
  }
  &:hover{
    color: $theme-color;
  }
  top: 32px;
  right: 16px;
  display: none;
}


@media screen and (max-width: 900px) {
  .nav{
    position: fixed;
    right: -70%;
    width: 200px;
    height: 330px;
    display: flex;
    flex-direction: column;
    background-color: #FFFFFF;
    z-index: 6;
    .nav-item{
      border-bottom: 1px solid #F3F3F3;
    }
  }
  .nav.open{
    right: 0;
  }
  .title-bars{
    display: inline-block;
  }
}

/* --------------------------------
 * middle
 * -------------------------------- */
 
 .grid-image-lg{
   display: none;
 }
 .title-bar{
   background-color: rgb(59, 69, 82);
   height:150px;
   color: white;
   position: relative;
 }
.title-bar .fas{
  font-size:30px;
  padding-top:20px;
}
.theme{
  font-size:30px;
  padding:10px 0 5px 0;
}
.alphabet{
  padding-bottom:30px;
  font-size:15px;
}
.triangle{
  width:0;
  height:0;
  border-right: 50px solid transparent;
  border-left: 50px solid transparent;
  border-top: 20px solid rgb(59, 69, 82);
  position: absolute;
  top:150px;
  left:50%;
  transform: translate(-50%, 0);
}
.main-grid{
  height:430px;
  border-bottom: 1px solid rgb(233, 227, 227);
}
.main-grid-left{
  padding-left:8vw;
  padding-right:70px;
}
.main-grid-right{
  padding: 0;
  margin: 0;
  height: 100%;
}
.grid-number{
  padding-top:50px;
  width:30px;
  text-align: center;
  background-color: $theme-color;
  font-size:20px;
  color: white;
}
.grid-title{
  font-size:35px;
  color: $theme-color;
  padding:30px 0 10px 0;
}
.grid-alpha{
  color:$theme-color;
  font-size:14px;
  padding-bottom:40px;
}
.btn-home{
  height:45px;
  width:190px;
  background-color: rgb(245, 103, 37);
  color: white;
  font-size:15px;
  line-height: 38px;
  border-radius: 5px;
  transition: 0.4s;
}
.btn:hover{
  opacity: 0.7;
  color: white;
}
.grid-text{
  padding-bottom:40px;
  font-size:16px;
}
.grid-image{
  height:100%;
  width:100%;
  object-fit: cover;
}

.order-first{
  order: 0;
}

.order-last{
  order: 5;
}

@media (max-width:992px ) {
   .main-grid-right{
    display: none;
   }
   .main-grid-left{
    text-align: center;
   }
   .grid-image-lg{
    display: block;
    margin: 0 auto;
    width:95%;
    height:300px;
    object-fit: cover;
   }
   .main-grid{
    height: auto;
   }
   .main-grid-left{
    padding-left:0;
    padding-right:0;
    }
    .grid-text{
      width:95%;
      margin:0 auto;
      font-size:17px;
      padding:30px 0 70px 0;
      text-align: left;
    }
    .grid-number{
      margin:0 auto;
    }
    .triangle{
      display: none;
    }
    .main-grid-left .btn{
      margin-bottom: 70px;
      width:30vw;
    }
    .theme{
      font-size: 20px;
    }
}


/* --------------------------------
 * contact
 * -------------------------------- */


#contact-image::before{
  background-image: image-url('contact.jpg');
  background-size: cover;/* cover指定 */
  background-position: center top;
  content: "";/* 画像を表示させる為に必要*/
  display: block;/*ブロックボックスで表示*/
  position: fixed;/* 擬似要素全体を固定 */
  width: 100%;/* 横幅を画面全体 */
  height: 50vh;/* 縦幅を画面全体 */
  top: 0;/* 上からの配置を0 */
  left: 0;/* 左からの配置を0 */
  z-index: -1;/*背景画像になるように重ね順を-1*/
}

#contact-image{
  height: 50vh;
  box-shadow: 0 80px 80px -60px #ffffff inset;
  h1{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
}

.contact-container{
  padding-bottom: 30px;
}

.map-box{
  height: 0;
  overflow: hidden;
  padding-top: 65%;
  position: relative;
}

.google-map{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

.contact-text{
  font-size: 1.2em;
  letter-spacing: 3px;
  color: black;
  height: 60px;
}

.twitter-follow-button{
  vertical-align: middle;
}

.insta_btn {
  display: inline-block;
  text-align: center;/*中央揃え*/
  color: #2e6ca5;/*文字色*/
  font-size: 20px;/*文字サイズ*/
  text-decoration: none;/*下線消す*/
  vertical-align: middle;
}

.insta_btn:hover {/*ホバー時*/
  color:#668ad8;/*文字色*/
  transition: .5s;/*ゆっくり変化*/
}

.insta_btn .insta{/*アイコンの背景*/
  position: relative;/*相対配置*/
  display: inline-block;
  width: 50px;/*幅*/
  height: 50px;/*高さ*/
  background: -webkit-linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;
  background: linear-gradient(135deg, #427eff 0%, #f13f79 70%) no-repeat;/*グラデーション①*/
  overflow: hidden;/*はみ出た部分を隠す*/
  border-radius: 13px;/*角丸に*/

}

.insta_btn .insta:before{/*グラデーションを重ねるため*/
  content: '';
  position: absolute;/*絶対配置*/
  top: 23px;/*ずらす*/
  left: -18px;/*ずらす*/
  width: 60px;/*グラデーションカバーの幅*/
  height: 60px;/*グラデーションカバーの高さ*/
  background: -webkit-radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);
  background: radial-gradient(#ffdb2c 10%, rgba(255, 105, 34, 0.65) 55%, rgba(255, 88, 96, 0) 70%);/*グラデーション②*/
}

.insta_btn .fa-instagram {/*アイコン*/
  color: #FFF;/*白に*/
  position: relative;/*z-indexを使うため*/
  z-index: 2;/*グラデーションより前に*/
  font-size: 35px;/*アイコンサイズ*/
  line-height: 50px;/*高さと合わせる*/
}

.insta_btn .insta{
  box-shadow: 0px 1px 2px rgba(25, 25, 25, 0.50);
  transition: .4s;
}
.insta_btn .insta:hover{
  box-shadow: 0px 2px 3px rgba(25, 25, 25, 0.50);
}


@media screen and (max-width: 576px) {
  .map-box{
    padding-top: 100%;
  }
}

/* --------------------------------
 * member
 * -------------------------------- */


#member-image:before{
  background-image: image-url('member_page.JPG');
  background-size: cover;/* cover指定 */
  background-position: center;
  background-repeat:no-repeat;
  content: "";/* 画像を表示させる為に必要*/
  display: block;/*ブロックボックスで表示*/
  position: fixed;/* 擬似要素全体を固定 */
  width: 100%;/* 横幅を画面全体 */
  height: 50vh;/* 縦幅を画面全体 */
  top: 0;/* 上からの配置を0 */
  left: 0;/* 左からの配置を0 */
  z-index: -1;/*背景画像になるように重ね順を-1*/
}

#member-image{
  height: 50vh;
  box-shadow: 0 80px 80px -50px #ffffff inset;
  h1{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.member-box{
  width: 220px;
  height: 300px;
  background-color: #F3F3F3;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover{
    color:#34CC33;
  }
}
.member-box-loggedin{
  height: 330px;
}

@media screen and (max-width: 768px) {
  .sub-container{
    margin: 0 5% 0 5%;
  }
  .flex-container{
    justify-content: space-around;
  }
}
@media screen and (min-width: 576px) {
  .flex-container:after {
    content: "";
    display: block;
    width: 220px;  /* .boxに指定したwidthと同じ幅を指定する */
    height: 0;
  }
}

/* --------------------------------
 * fixed-member-card
 * -------------------------------- */

.fixed-bg{
  position: fixed;
  height: 100vh;
  width: 100vw;
  transform: translate(0, -50%);
  background-color: rgba(0,0,0, 0.35);
  z-index: 15;
  display: none;
}
.close-btn{
  color: $theme-color;
  background-color: white;
  border: none;
  position: fixed;
  padding-left: 10px;
  padding-right: 10px;
  z-index: 20;
  display: none;
  .fa-times{
    font-size: 50px;
  }
  &:hover{
    color: $theme-color;
  }
  top: 32px;
  right: 16px;
}

.fixed-box{
  position:fixed;
  top:50%;
  left:50%;
  transform: translate(-50%, -50%);
  z-index: 15;
  display: none;
}

.member-image{
  height: 220px;
  width: 200px;
  text-align: center;
}

.member-card-box{
  background-color: #F3F3F3;
  max-height: 80vh;
  min-height: 75vh;
  border-radius: 2.5vh;
  width: 65vw;
}
.member-card-left{
  padding: 30px 0 0 20px;
}
.member-card-right{
  padding-top: 20px;
  padding-left: 50px;
  font-size: 1.2em;
  line-height: 1.5;
  letter-spacing: 1px;
  ul{
    list-style: none;
  }
}

.member-inf{
  display: flex;
  padding: 8px 0;
  background-color: white;
  border-bottom: 1px solid $theme-color;
  .inf-left{
    width: 35%;
    padding-left: 10px;
  }
  .inf-right{
    text-align: center;
    width: 65%;
  }
}

.inf-long{
  display: flex;
  padding: 10px;
  .inf-long-left{
    width: 15%;
    text-align: center;
    display: table;
    .left-text{
      display: table-cell;
      vertical-align: middle;
    }
  }
  .inf-long-right{
    width: 85%;
    display: table;
    .right-text{
      display: table-cell;
      vertical-align: middle;
    }
  }
}
.information-text{
  min-height: 10vh;
  max-height: 20vh;
  background: white;
  margin: 0 10px;
  border-radius: 1vh;
  border: 1px solid $theme-color;
}
.information-word{
  min-height: 8vh;
  max-height: 16vh;
  background-color: white;
  margin: 15px 10px 10px 10px;
  border-radius: 1vh;
  border: 1px solid $theme-color;
}
.right-text, .left-text{
  font-size: 2.25vh;
}

@media screen and (max-width: 1024px) {
  .member-card-box{
  width: 80vw;
  max-height: 80vh;
  min-height: 30vh;
  }
  .right-text, .left-text{
    font-size: 1.5vh;
  }
}
@media screen and (max-width: 768px) {
  .member-image-card{
    height: 150px;
    width: 130px;
    text-align: center;
  }
  .member-card-box{
    max-height: 85vh;
    min-height: 30vh;
  }
  .member-card-left{
    padding-top: 20px;
    padding-left: 0;
  }
  .member-image{
    margin: 0 auto;
  }
  .member-informations{
    padding-left: 0;
  }
  .member-card-right{
    padding: 20px 15px 10px 15px;
    font-size: 0.85em;
  }
  .member-inf{
    padding: 4px 0;
  }
  .right-text, .left-text{
    font-size: 1.5vh;
  }
  
}
@media screen and (max-width: 495px) {
  .member-card-box{
    min-height: 60vh;
    max-height: 90vh;
  }
  .member-card-right{
    padding: 8px 15px 0 15px;
    font-size: 0.65em;
  }
  .member-card-left{
    padding-top: 10px;
  }
  .right-text, .left-text{
    font-size: 1vh;
  }
  .information-text{
    max-height: 180px;
    background: white;
    margin: 0 5px;
  }
.information-word{
    max-height: 130px;
    margin: 5px;
  }
}

@media screen and (max-width: 360px){
  .member-card-right{
    padding: 8px 15px;
    font-size: 0.4em;
  }
  .member-image-card{
    display: none;
  }
  .right-text, .left-text{
    font-size: 1vh;
  }
}


/* --------------------------------
 * action
 * -------------------------------- */

#action-image:before{
  background-image: image-url('team_home.JPG');
  background-size: cover;/* cover指定 */
  background-position: center;
  background-repeat:no-repeat;
  content: "";/* 画像を表示させる為に必要*/
  display: block;/*ブロックボックスで表示*/
  position: fixed;/* 擬似要素全体を固定 */
  width: 100%;/* 横幅を画面全体 */
  height: 50vh;/* 縦幅を画面全体 */
  top: 0;/* 上からの配置を0 */
  left: 0;/* 左からの配置を0 */
  z-index: -1;/*背景画像になるように重ね順を-1*/
}
#action-image{
  height: 50vh;
  box-shadow: 0 80px 80px -60px #ffffff inset;
  h1{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
}
.action-text{
  font-size: 1.2em;
  letter-spacing: 3px;
  color: black;
  line-height: 1.7;
}
.action-list{
  margin-top: 20px;
}
.action-lists{
  padding-bottom: 45px;
}

/* setting-pages-all  */
#setting-option:before{
  background-image: image-url('home_sub.JPG');
  background-size: cover;/* cover指定 */
  background-position: center;
  background-repeat:no-repeat;
  content: "";/* 画像を表示させる為に必要*/
  display: block;/*ブロックボックスで表示*/
  position: fixed;/* 擬似要素全体を固定 */
  width: 100%;/* 横幅を画面全体 */
  height: 50vh;/* 縦幅を画面全体 */
  top: 0;/* 上からの配置を0 */
  left: 0;/* 左からの配置を0 */
  z-index: -1;/*背景画像になるように重ね順を-1*/
}
#setting-option{
  height: 50vh;
  box-shadow: 0 80px 80px -60px #ffffff inset;
  h1{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  .action-lists{
  padding-left: 20px;
  }
  p{
    font-size: 0.8em;
    line-height: 1.2em;
  }
  h3{
    font-size: 1.1em;
  }
  .action-text{
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1.2;
  }
  .sub-title{
    font-size: 1.5em;
  }
}

/* --------------------------------
 * results-index
 * -------------------------------- */

#result-image:before{
  background-image: image-url('result_index_image.JPG');
  background-size: cover;/* cover指定 */
  background-position: center 30%;
  background-repeat:no-repeat;
  content: "";/* 画像を表示させる為に必要*/
  display: block;/*ブロックボックスで表示*/
  position: fixed;/* 擬似要素全体を固定 */
  width: 100%;/* 横幅を画面全体 */
  height: 50vh;/* 縦幅を画面全体 */
  top: 0;/* 上からの配置を0 */
  left: 0;/* 左からの配置を0 */
  z-index: -1;/*背景画像になるように重ね順を-1*/
}

#result-image{
  height: 50vh;
  box-shadow: 0 80px 80px -60px #ffffff inset;
  h1{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    margin: 0;
  }
}

@media screen and (max-width: 768px) {
  #result-image:before{
    background-image: image-url('result2.JPG');
  }
}

.result-container{
  margin-top: 20px;
  padding: 30px 0 1px 0;
}
.results-lists{
  padding: 0;
}

.result-list{
  height: 100px;
  list-style: none;
  margin: 0 20px 40px 20px;
  background-color: #F3F3F3;
}

  
.result-file{
  height: 100px;
  background-color: $theme-color;
  color: white;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  &:hover :active{
    background-color: $theme-color-hover;
  }
}
.result-setting-btn{
  text-align: right;
  background-color: #F3F3F3;
  margin: 0 -15px;
}


.result-file-link{
  color: white;
  &:hover{
    color: white;
  }
}

.tennis-icon{
   position:absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.result{
  position:absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 1em;
}

.result-name{
  color: black;
  height: 100px;
  font-size: 1.5em;
  display:table;
  text-align:center;
}

.result-name-text{
  display:table-cell;
  vertical-align:middle;
}

.result-box a:hover{
  .result-file{
    background-color: $theme-color-hover;
  }
  .result-name{
    color: $theme-color;
  }
}


@media screen and (max-width: 720px) {
  .result-list{
  height: 150px;
  }
  .result-name{
    height: 50px;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 992px) {
  .result-name{
    font-size: 1em;
  }
}

@media screen and (max-width: 1200px) {
  .result-name{
    font-size: 1.2em;
  }
}

/* --------------------------------
 * top-btn
 * -------------------------------- */
 
 .top-btn-box{
   margin-top: 60px;
 }
 
 .top-link{
   display: block;
   background-color: #FFF;
   text-decoration: none;
   &:hover{
     background-color: $theme-color-hover;
     text-decoration: none;
     .top-btn p{
       color: white;
     }
   }
 }
 
 .top-btn{
   text-align: center;
   padding: 15px 0;
   p{
     line-height: 0;
     color: #CCCCCC;
     }
 }
 
 .fa-chevron-up{
   font-size: 50px;
 }
 

 /* --------------------------------
 * footer
 * -------------------------------- */
 
.under{
  
  background-color: $footer-color;
  color: white;
  padding: 70px;
}
.under-subtitle{
  font-size:16px;
}
.under-lists{
  font-size: 16px;
}
.under-list a{
  color: white;
  transition: 0.3s;
}
.under-list{
  margin:10px 0;
}
.under-list a:hover{
  opacity: 0.7;
}
.yazirusis .yazirusi {
  position: relative;
  list-style: none;
}

.yazirusis{
  padding-left: 15px;
}

.yazirusis .yazirusi::after {
  display: block;
  content: '';
  position: absolute;
  top: .5em;
  left: -1em;
  width: 6px;
  height: 6px;
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
 footer{
   background-color: black;
 }
 .footer-text{
   color: white;
   padding:30px 0;
 }
.sns{
  list-style: none;
  padding-left:0;
}
.under-list i{
  padding-right:12px;
}
.under-image-box{
  text-align: center;
}

.icon-image-footer{
  width: 80%;
  max-width: 300px;
  height: auto;
}


@media screen and (max-width: 576px) {
  .under{
    padding: 70px 30px;
  }
  .container{
    padding: 0;
  }
}

/* --------------------------------
 * miscellaneous 
 * -------------------------------- */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* --------------------------------
 * form-all
 * -------------------------------- */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

.form-container{
  padding-top: 30px;
  padding-bottom: 30px;
}

#file-form{
  background-color: white;
}

#text-count, #word-count{
  margin-bottom: 5px;
  resize: none;
  white-space: break-spaces;
  line-break: anywhere;
}
.text-validate, .word-validate{
  margin-bottom: 15px;
  margin-left: 10px;
}


@media screen and (max-width: 576px) {
  .form-container{
    padding: 30px;
  }
}

/* --------------------------------
 * member-form
 * -------------------------------- */
#preview{
  max-width:50%;
  height:auto;
}



