@import "bootstrap-sprockets";
@import "bootstrap-custom";
@import url(http://fonts.googleapis.com/earlyaccess/notosansjp.css);

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

$theme-color: #65CC33;

$theme-color-hover: #14A408;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}
/* universal */

body{
  height: 100%;
  background-color: #F3F3F3;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {
  font-size: 3em;
  letter-spacing: 1px;
  margin-bottom: 30px;
  text-align: center;
  color: white;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: bold;
  color: black;
}
h3 {
  font-size: 1.5em;
  margin-top: 10px;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
}
img{
  object-fit: cover;
  width: 100%;
  height: 100%;
}


/* header */

.navbar{
  width: 100%;
  background:rgba(0,0,0,0);
  position: absolute;
  
}

#list-item{
  color:black;
  &:hover{
  }
}

#dropdown-item{
  color:black;
  margin-right: 45px;
  opacity: 0.8;
  &:hover, &:focus{
    opacity: 1;
  }
}

#logo {
  font-family: 'Noto Sans JP', sans-serif;
  float: left;
  margin-right: 10px;
  margin-left: 15px;
  font-size: 2.5em;
  color: black;
  text-transform: uppercase;
  letter-spacing: -1px;
  font-weight: bold;
  vertical-align: middle;
  &:hover {
    text-decoration: none;
  }
}

.navbar{
  margin-bottom: 0px;
  padding: 20px 0 20px 0;
}
/* home */
.page-top-image{
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  background-attachment: fixed;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

#home-image{
  height: 100vh;
  background-image: image-url('home_image_6.JPG');
  box-shadow: 0 80px 80px -70px #ffffff inset;
}

.container-cancellation {
  margin-left : 0;
  margin-right: 0;
}

@media screen and (min-width: 576px) {
  .container-cancellation {
    margin-left : calc(-0.5 * (100vw - 540px));
    margin-right: calc(-0.5 * (100vw - 540px));
  }
}

@media screen and (min-width: 768px) {
  .container-cancellation {
    margin-left : calc(-0.5 * (100vw - 720px));
    margin-right: calc(-0.5 * (100vw - 720px));
  }
}

@media screen and (min-width: 992px) {
  .container-cancellation {
    margin-left : calc(-0.5 * (100vw - 960px));
    margin-right: calc(-0.5 * (100vw - 960px));
  }
}

@media screen and (min-width: 1200px) {
  .container-cancellation {
    margin-left : calc(-0.5 * (100vw - 1140px));
    margin-right: calc(-0.5 * (100vw - 1140px));
  }
}



/* contact */
#contact-image{
  height: 50vh;
  background-image: image-url('contact.jpg');
  box-shadow: 0 80px 80px -60px #ffffff inset;
}

/* member */
#member-image{
  height: 50vh;
  background-image: image-url('member_page2.JPG');
  box-shadow: 0 80px 80px -50px #ffffff inset;
}
.sub-title{
  font-size: 2.5em;
  border-bottom: 2px solid #65CC33;
  padding: 30px 0 ;
}

.sub-container{
  margin: 0 15% 0 15%;
  background-color: #FFFFFF;
  border-rudius: 15px;
  padding: 0 20px;
}
.flex-container{
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;
  justify-content: space-between;
}

.member-box{
  width: 220px;
  height: 300px;
  background-color: #F3F3F3;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  &:hover{
    color:#34CC33;
  }
}

@media screen and (max-width: 768px) {
  .sub-container{
  margin: 0 5% 0 5%;
  }
}

.flex-container:after {
    content: "";
    display: block;
    width: 220px;  /* .boxに指定したwidthと同じ幅を指定する */
    height: 0;
}
.member-image{
  height: 220px;
  width: 200px;
  text-align: center;
}


/* action */
#action-image{
  height: 50vh;
  background-image: image-url('action_page.JPG');
  box-shadow: 0 80px 80px -70px #ffffff inset;
}
.action-text{
  font-size: 1.2em;
  letter-spacing: 3px;
  color: black;
  line-height: 1.7;
}
.action-list{
  margin-top: 20px;
}
.action-lists{
  padding-bottom: 45px;
}

/* setting-pages-all  */
#setting-option{
  height: 34vh;
  background-image: image-url('setting3.png');
}
@media screen and (max-width: 768px) {
  .action-lists{
  padding-left: 20px;
  }
  p{
    font-size: 0.8em;
    line-height: 1.2em;
  }
  .action-text{
    font-size: 1em;
    letter-spacing: 2px;
    line-height: 1.2;
  }
  .sub-title{
    font-size: 1.5em;
  }
}

/* result_index */
#result-image{
  height: 50vh;
  background-image: image-url('result_index_image.JPG');
  box-shadow: 0 80px 80px -50px #ffffff inset;
}

.result-container{
  margin-top: 20px;
  padding: 30px 0 1px 0;
}
.results-lists{
  padding: 0;
}

.result-list{
  height: 100px;
  list-style: none;
  margin: 0 20px 40px 20px;
  background-color: #F3F3F3;
}

  
.result-file{
  height: 100px;
  background-color: $theme-color;
  color: white;
  position: relative;
  padding-left: 0;
  padding-right: 0;
  &:hover :active{
    background-color: $theme-color-hover;
  }
}


.result-file-link{
  color: white;
  &:hover{
    color: white;
  }
}

.tennis-icon{
   position:absolute;
  top: 38%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

.result{
  position:absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 1em;
}

.result-name{
  color: black;
  height: 100px;
  font-size: 1.5em;
  display:table;
  text-align:center;
}

.result-name-text{
  display:table-cell;
  vertical-align:middle;
}

.result-box a:hover{
  .result-file{
    background-color: $theme-color-hover;
  }
  .result-name{
    color: $theme-color;
  }
}

@media screen and (max-width: 720px) {
  .result-list{
  height: 150px;
  }
  .result-name{
    height: 50px;
    font-size: 0.7em;
  }
}
@media screen and (max-width: 992px) {
  .result-name{
    font-size: 1em;
  }
}

@media screen and (max-width: 1200px) {
  .result-name{
    font-size: 1.2em;
  }
}

/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: $gray;
    &:hover {
      color: $gray-darker;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
}

/* member form   */
#preview{
  max-width:50%;
  height:auto;
}



