<h1>部員紹介</h1>

<% if !@members_fourth.blank? %>
  <h2>4年</h2>
  <% @members_fourth.each do |member| %>
    <ul class="members_fourth">
      <li class="member">
        <%= member.name %>
      </li>
    </ul>
 <% end %>
<% end %>
<% if !@members_third.blank? %>
  <h2>3年</h2>
  <% @members_third.each do |member| %>
    <ul class="members_third">
      <li class="member">
        <%= member.name %>
      </li>
    </ul>
  <% end %>
<% end %>
<% if !@members_second.blank? %>
  <h2>2年</h2>
  <% @members_second.each do |member| %>
    <ul class="members_second">
      <li class="member">
        <%= member.name %>
      </li>
    </ul>
  <% end %>
<% end %>
<% if !@members_one.blank? %>
  <h2>1年</h2>
  <% @members_one.each do |member| %>
    <ul class="members_one">
      <li class="member">
        <%= member.name %>
      </li>
    </ul>
  <% end %>
<% end %>
    